body{
    margin:0px;

}
.container{
    height: 100vh;
    background-color:white;
    color: white;
    display:grid;
    grid-template-rows: 13fr 30fr 30fr 13fr;
    grid-template-columns: 40fr 7fr;

}
.header{
    grid-column: 1/3;
    margin-bottom: 7px;
    background-color:blueviolet;
    color: black; 
}
.body-1{
    background-color:red;
    color: black; 
}
.nav{
    grid-column:2;
    grid-row: 2/4;
    background-color: yellow;
    color: black; 
}
.body-2{
    background-color: orange;
    color: black; 
}
.footer{
    margin-top:7px;
    grid-column: 1/3;
    background-color:blueviolet;
    color: black; 
}

/*tablet*/
@media (min-width:481px) and (max-width:1200px)
{   
    .container{
        display:grid;
        grid-template-rows: 13fr 30fr 30fr 13fr;
        grid-template-columns: 40fr 50fr;
    }
}

/* mobile */
@media (max-width:480px)
{
    .container{
        display:grid;
        grid-template-rows: 13fr 30fr 30fr 30fr 13fr;
        grid-template-columns: 100%;
    }
    
    .body-1{
        grid-row: 2/3;
    }
    .body-2{
        grid-row: 3/4;
    }
    .nav{
        grid-column: 1;
        grid-row: 4/5;
    }
}

